- gif_path = "/uploads/video/file/#{video.id}/#{video.filepath}"
.gif{class: "#{gif ? "" : "hidden"}"}
  - if video.filepath
    =image_tag gif_path, id: 'gif'
    =image_tag "b.gif", class: "blank hidden"
.video{class: "#{gif ? "hidden" : ""}"}
  %video{src: video.file, controls: true, disabled: true}
.middlebar
  .votes.btn.btn-default
    .nib
      - if current_user && current_user.votes.where(video_id: video.id, value: 1).present?
        %b.red="▲"
      - else
        %b=link_to "▲",  video_upvote_path(video)
    .nib
      %b= video.value
      votes
    .nib
      - if current_user && current_user.votes.where(video_id: video.id, value: -1).present?
        %b.red="▼"
      - else
        %b=link_to "▼", video_downvote_path(video)
  .middle_content
    - if video. title
      %h2=video.title
    - else
      %h2 Untitled
    - if video.user_id
      Uploaded #{time_ago_in_words(video.created_at)} ago by #{User.find(video.user_id)}
    - if video.tags
      = video.tags.join(" ")
  .comments.btn.btn-default
    %b= video.comments.count
    %br
    comments
  .share.btn.btn-default
    .hideme
      %b Share
    %input{type: 'text', value: video_url(video)}
    .hidden.links
      = render 'videos/share'
      .reddit
        %script{type: "text/javascript", src: "http://www.redditstatic.com/button/button1.js?url=#{video_url(video)}"}
      .twitter
        =link_to "Tweet", "https://twitter.com/intent/tweet?text=Check out my video on LB&url=#{video_url(video)}",  {class: 'twitter-share-button', data: { size: 'small' } }
      .fb-share-button{data: {href: "#{video_url(video)}?gif=off", layout: 'button'}}
.hidden.showcomments
  .commentlist
    = render video.comments
  = render 'comments/new', video: video
