.gif
  - if video.filepath
    =image_tag "/uploads/video/file/#{video.id}/#{video.filepath}", id: 'gif'
    =image_tag "b.gif", class: "blank hidden"

.video.hidden
  %video{src: video.file, controls: true, disabled: true}
.middlebar
  .votes.btn.btn-default
    .nib
      - if current_user && current_user.votes.where(video_id: video.id, value: 1).present?
        %b.red-="▲"
      - else
        %b=link_to "▲",  video_upvote_path(video)
    .nib
      %b= video.value
      votes
    .nib
      - if current_user && current_user.votes.where(video_id: video.id, value: -1).present?
        .red="▼"
      - else
        %b=link_to "▼", video_downvote_path(video)
  .middle_content
    - if video. title
      %h2=video.title
    - else
      %h2 Untitled
    - if video.user_id
      Uploaded #{time_ago_in_words(video.created_at)} ago by #{User.find(video.user_id)}
    - if video.tags
      = video.tags.join(" ")
  .comments.btn.btn-default
    %b= video.comments.count
    %br
    comments
.hidden.showcomments
  .commentlist
    = render video.comments
  = render 'comments/new', video: video
